{% extends 'core/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="w-1/2 my-6 mx-auto p-10 bg-slate-400 rounded-xl">
    <h1 class="mb-6 text-4xl">Login</h1>
    <form action="." method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label>Username</label>
            {{ form.username }}
        </div>

        <div class="mb-3">
            <label>Password</label>
            {{ form.password }}
            {% if form.password.errors %}
                <div class="text-red-500">
                    {% for error in form.password.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        </div>

        {% if form.non_field_errors %}
            <div class="mb-3 p-6 bg-red-100 rounded-xl">
                {% for error in form.non_field_errors %}
                    <p>{{ error }}</p>
                {% endfor %}
            </div>
        {% endif %}

        <button class="py-4 px-8 bg-emerald-500 text-white rounded-xl hover:bg-teal-400">Submit</button>
    </form>
</div>
{% endblock %}
