{% extends 'core/base.html' %}
{% block title %}{{ bike.name }}{% endblock %}
{% block content %}
<div class="grid grid-cols-5 gap-6 m-6 p-6">
    <div class="col-span-3 aspect-w-16 aspect-h-9 shadow-md hover:shadow-2xl duration-200 rounded-xl">
        <img src="{{ bike.image.url }}" alt="{{ bike.name }}" class="object-cover w-full h-full rounded-xl">
    </div>

    <div class="col-span-2 p-6 bg-gray-100 rounded-xl shadow-md hover:shadow-2xl duration-200">
        <h1 class="font-mono font-bold text-6xl text-center mb-6">{{ bike.name }}</h1>
        <p class="text-xl mb-2"><strong>Price:</strong> Rs. {{ bike.price }}</p>
        <p class="text-xl mb-2"><strong>Category:</strong> {{ bike.category }}</p>
        <p class="text-xl mb-2"><strong>Brand:</strong> {{ bike.brand }}</p>
        <p class="text-xl mb-2"><strong>Owner:</strong> {{ bike.owner }}</p>

        {% if bike.description %}
        <p class="test-gray-700 text-xl">
            <strong class="text-gray500">Description:</strong>
            <br />
            {{ bike.description }}
        </p>
        {% endif %}

        {% if request.user == bike.owner %}
        <a href="{% url 'bikes:edit' bike.id %}"
            class="inline-block mt-6 mx-3 px-6 py-3 text-lg font-semibold bg-green-500 text-white rounded-xl hover:bg-green-400">Edit</a>
        <a href="{% url 'bikes:delete' bike.id %}"
            class="inline-block mt-6 mx-3 px-6 py-3 text-lg font-semibold bg-red-500 text-white rounded-xl hover:bg-red-400">Delete</a>
        {% endif %}
    </div>
</div>

<div class="flex justify-center my-10">
    <h2 class="text-2xl font-mono">Reviews</h2>
    <div id="reviewList" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl w-full mt-8">
        {% if reviews %}
            {% for review in reviews %}
            <a href="{% url 'review_qa:review' review.id %}">
                <div class="border p-4 rounded-lg shadow-md">
                    <p class="text-sm text-gray-500">{{ review.author.username }} - {{ review.date_posted }}</p>
                    <p class="text-gray-900 mb-2 font-semibold">Rating: {{ review.get_rating_display }}</p>
                    <p>{{ review.content|slice:":50" }}...</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <h2 id="noReviewsMessage" class="text-xl font-semibold text-center mt-8">No Reviews Yet</h2>
        {% endif %}
    </div>
</div>

{% if request.user.is_authenticated and request.user == bike.owner %}
<div class="flex justify-center">
    <form id="reviewForm" action="{% url 'review_qa:add_review' bike.id %}" method="POST">
        {% csrf_token %}

        <div class="space-y-4">
            {{ review_form.as_p }}
        </div>

        <button type="submit" class="mt-6 py-4 px-8 text-lg bg-purple-500 hover:bg-purple-400 rounded-xl text-white">
            Add Review
        </button>
    </form>
</div>
{% endif %}

<div class="flex justify-center my-10">
    <h2 class="text-2xl font-mono">Questions</h2>
    <div id="questionList" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 max-w-6xl w-full mt-8">
        {% if questions %}
            {% for question in questions %}
            <a href="{% url 'review_qa:question' question.id %}">
                <div class="border p-4 rounded-lg shadow-md">
                    <p class="text-sm text-gray-500">{{ question.author.username }} - {{ question.date_posted }}</p>
                    <p>{{ question.content }}</p>
                </div>
            </a>
            {% endfor %}
        {% else %}
            <h2 id="noQuestionMessage" class="text-xl font-semibold text-center mt-8">No Questions Yet</h2>
        {% endif %}
    </div>
</div>

{% if request.user.is_authenticated and request.user != bike.owner %}
<div class="flex justify-center">
    <form id="questionForm" action="{% url 'review_qa:add_question' bike.id %}" method="POST">
        {% csrf_token %}

        <div class="space-y-4">
            {{ question_form.as_p }}
        </div>

        <button type="submit" class="mt-6 py-4 px-8 text-lg bg-purple-500 hover:bg-purple-400 rounded-xl text-white">
            Ask Question
        </button>
    </form>
</div>
{% endif %}


{% if related_bikes %}
<div class="m-10 px-10 py-12 bg-gray-100 rounded-xl">
    <h2 class="mb-12 text-2xl text-center">Other Related Bikes</h2>

    <div class="grid grid-cols-3 gap-3">
        {% for bike in related_bikes %}
        <div>
            <a href="{% url 'bikes:detail' bike.id %}">
                <div>
                    <img src="{{ bike.image.url }}" alt="{{ bike.name }}" class="rounded-t-xl">
                </div>
                <div class="p-6 bg-white rounded-b-xl">
                    <h2>{{ bike.name }}</h2>
                    <p class="text-gray-500">Price: {{ bike.price }}</p>
                </div>
            </a>
        </div>
        {% endfor %}
    </div>
{% endif %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
        $('#reviewForm').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting the default way

            var formData = $(this).serialize(); // Serialize the form data
            var actionUrl = $(this).attr('action'); // Get the form action URL

            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Add the CSRF token in the headers
                },
                success: function(response) {
                    if (response.status === 'success') {
                        var newReview = `
                        <a href="${response.review.url}">
                            <div class="border p-4 rounded-lg shadow-md">
                                <p class="text-sm text-gray-500">${response.review.author} - ${response.review.date_posted}</p>
                                <p class="text-gray-900 mb-2 font-semibold">Rating: ${response.review.rating}</p>
                                <p>${response.review.content}</p>
                            </div>
                        </a>
                        `;
                        $('#reviewList').prepend(newReview);
                        $('#noReviewsMessage').remove();
                        $('#reviewForm')[0].reset(); // Reset the form
                    } else {
                        alert(response.message);
                        console.error(response.errors);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('An error occurred:', status, error);
                }
            });
        });

        $('#questionForm').submit(function(event) {
            event.preventDefault(); // Prevent the form from submitting the default way

            var formData = $(this).serialize(); // Serialize the form data
            var actionUrl = $(this).attr('action'); // Get the form action URL

            $.ajax({
                type: 'POST',
                url: actionUrl,
                data: formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}' // Add the CSRF token in the headers
                },
                success: function(response) {
                    console.log(response);
                    if (response.status === 'success') {
                        var newQuestion = `
                        <a href="${response.question.url}">
                            <div class="border p-4 rounded-lg shadow-md">
                                <p class="text-sm text-gray-500">${response.question.author} - ${response.question.date_posted}</p>
                                <p>${response.question.content}</p>
                            </div>
                        </a>
                        `;
                        $('#questionList').prepend(newQuestion);
                        $('#noQuestionMessage').remove();
                        $('#questionForm')[0].reset(); // Reset the form
                    } else {
                        // Handle errors (e.g., display error messages)
                        alert(response.message);
                        console.error(response.errors);
                    }
                },
                error: function(xhr, status, error) {
                    console.error('An error occurred:', status, error);
                }
            });
        });
    });
</script>    
{% endblock %}